{% extends 'douban_movie/template.html' %}

{% block title %}{{search_key}}{% endblock %}


{% block body %}
	{% load douban_movie_tags %}
	{{ block.super }}

	<div id="conditions">
		<div class="condition-type">
			{% for type,count in conditions.types %}
				<a class="conditions-type-tag" href="#">{{type}}</a>
			{% endfor %}
		</div>
		<div class="condition-lang">
			{% for lang,count in conditions.langs %}
				<a class="conditions-lang-tag" href="#">{{lang}}</a>
			{% endfor %}
		</div>
	</div>

	<div id="movie_list">
		{% for movie in movies %}
			<div class="movie-info" onclick="to_movie_detail('{{movie.id}}')">
				<div class="movie-title">
					<p>标题：{{movie.title}}</p>
				</div>
				<div class="movie-type">
					<p>类型：{{movie.type}}</p>
				</div>
				<div class="movie-rate">
					<p>评分：{{movie.rate}}</p>
				</div>
				<div class="movie-votes">
					<p>评分人数：{{movie.votes}}</p>
				</div>
				<div class="movie-actors">
					<p>演员：{{movie.actors}}</p>
				</div>
				<div class="movie-summary">
					<p>简介：{{movie.summary}}</p>
				</div>
			</div>

		{% endfor %}
	</div>

	<div class="pagination-container">
		<nav>
			<ul class="pagination">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				{% for i in npage|myrange %}
					{% if page == i+1 %}
					{% else %}
						<li class="page-item"><a class="page-link" href="#">{{i|add:1}}</a></li>
					{% endif %}
				{%  endfor %}
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>


{% endblock %}