<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand ion-md-thumbs-up" href="{% url 'douban_movie:index' %}">Movie</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

		<ul class="navbar-nav mr-auto" id="navigation">

		</ul>
		<form class="form-inline my-2 my-lg-0" id="search_movie_form" action="{% url 'douban_movie:to_search_list' %}" method="get">
			<input class="form-control mr-sm-2" type="search" name="search_key" value="{{search_key}}" placeholder="{% if search_key %}{{search_key}}{% else %}搜索影片{% endif %}" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="border: 0px" onclick="to_search_list()">
				<span class="oi oi-magnifying-glass"></span>
			</button>
		</form>
		{% if user.is_authenticated%}
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link " href="#"  data-toggle="dropdown" id="user-options" aria-haspopup="true" aria-expanded="false">
						{{user.username}}
					</a>
					<div class="dropdown-menu" aria-labelledby="user-options">
						<a class="dropdown-item" href="#">个人信息</a>
						<a class="dropdown-item" href="{% url 'user:logout' %}">退出</a>
					</div>
				</li>
			</ul>
		{% else %}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link " href="{% url 'user:to_register' %}">注册</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="{% url 'user:to_login' %}">登录</a>
				</li>
			</ul>
		{% endif %}
	</div>
</nav>


