{% extends 'common/template.html' %}

{% block head %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/common/sha256.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user/common.js' %}"></script>

	<style type="text/css">
		.error_field{
			border-color: red;
		}
	</style>

{% endblock %}

{% block body%}
	
	<input type="hidden" id="to_register_url" value="{% url 'user:to_register' %}">
	<input type="hidden" id="register_url" value="{% url 'user:register' %}">
	<input type="hidden" id="to_login_url" value="{% url 'user:to_login' %}">
	<input type="hidden" id="login_url" value="{% url 'user:login' %}">
	<input type="hidden" id="main_page_url" value="{% url 'douban_movie:test' %}">

	<div class="container" >
		<div class="row align-items-center form_row" style="height: 80vh;">
			<div class="col col-md-4 offset-md-4">
				{% block form %}{% endblock %}
			</div>
		</div>
	</div>


{% endblock %}